{% extends "base.html" %}

{% block title %}Detalhes do Aluno{% endblock %}

{% block content %}
<h2>Detalhes do Aluno</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Nome:</strong> {{ aluno.nome }}</li>
    <li class="list-group-item"><strong>Idade:</strong> {{ aluno.idade }}</li>
    <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ aluno.data_de_nascimento }}</li>
    <li class="list-group-item"><strong>CPF:</strong> {{ aluno.cpf }}</li>
    <li class="list-group-item"><strong>Sexo:</strong> {{ aluno.get_sexo_display }}</li>
    <li class="list-group-item"><strong>Mensalidade Paga:</strong> {{ aluno.mensalidade_paga|yesno:"Sim,Não" }}</li>
</ul>

<a href="{% url 'atualizar_aluno' aluno.id %}" class="btn btn-warning">Editar</a>
<a href="{% url 'lista_alunos' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}
